body {
    background-color: #111111;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.home {
    width: 95%;
    margin: 0 auto;
}

.explore__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.explore h2, .recent h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 26px;
    color: white;
    margin: 5% 0 3% 5%;
}

.thumbnail {
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 5px;
}

.thumbnail img {
    width: 100%;
    position: absolute;
    filter: brightness(0.6);
    border-radius: 5px;
    z-index: -1;
}

.thumbnail h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;

}

.recent {
    padding-bottom: 10%;
    width: 95%;
    margin: 35px auto 0;
}

.recent__wrapper {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
}

/* change scrollbar of recent__wrapper */
.recent__wrapper::-webkit-scrollbar {
    height: 3px;
}

.recent__wrapper::-webkit-scrollbar-thumb {
    background: #8B8B8B;
    width: 110px;
    border-radius: 60px;
}

.recent__thumbnail {
    flex: 1 0 auto;
}

.recent h2 {
    margin: 0 0 3%;
}

/* end of home page */


/* start of anime page */
.anime {
    padding-bottom: 8%;
}

.anime__wrapper {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 13px;
}

.anime__thumbnail {
    width: 170px;
    height: 170px;
    border-radius: 25px;
}

.anime__thumbnail img {
    border-radius: 25px;
}

.anime__thumbnail h3 {
    font-size: 50px;
}

/* end of anime */

/* start of aot */
.aot__background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.7);
}

.aot__logo {
    margin: 0 auto;
    display: block;
}

.aot__btns {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 5% 0 3%;
}

.aot__btn {
    background-color: rgba(17, 17, 17, 0.8);
    color: white;
    text-decoration: none;
    padding: 4% 6%;
    font-family: 'Barlow', sans-serif;
    border-radius: 600px;
}

.aot__content {
    width: 95%;
    margin: 0 auto;
    background-color: rgba(17, 17, 17, 0.8);
    overflow-y: scroll;
    height: 60vh;
    border-radius: 25px;
}

.aot__content p {
    color: white;
    font-family: 'Barlow', sans-serif;
    padding: 0 6%;
    line-height: 130%;
    margin: 7px 0;
    font-size: 15px;
}

.aot__content p:first-child {
    margin-top: 5%;
}

.aot__content p:last-child {
    margin-bottom: 8%;
}

/* end of aot */

/* start of characters */
.characters__wrapper {
    width: 90%;
    margin: 5% auto 0;
    position: relative;
}

.characters__wrapper img {
    display: block;
    width: 85%;
    margin: 0 auto -20%;
}

.characters__bck {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    filter: blur(10px) brightness(0.7);
    z-index: -1;
}

.characters__card {
    color: white;
    background: #111;
    position: relative;
    z-index: -1;
    border-radius: 20px;
}

.characters__name {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    padding: 0% 0;
    position: relative;
    text-transform: uppercase;
}

.characters__bio {
    font-family: 'Barlow', sans-serif;
    width: 90%;
    margin: 0 auto;
    line-height: 130%;
    font-size: 15px;
}

.characters__readMore {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 7% 0;
}

.characters__dots {
    display: flex;
    height: 10px;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.characters__dot {
    width: 10px;
    height: 10px;
    border: solid 1px white;
    border-radius: 50%;
}

.characters__link a {
    text-align: center;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.characters__readMore a {
    color: white;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.dot--active {
    background: white;
    border: solid 1px transparent;
}

.characters__flair {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    width: 25px;
}

.characters__flair--circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    display: block;
}