body {
    background-color: #111111;
}

.stop-scroll {
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 7% auto;
}

.nav {
    width: 100%;
}

.nav__list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #111;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav__list--active {
    display: flex;
}

.nav__item a {
    text-decoration: none;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;
}

.nav__close {
    position: absolute;
    top: 3%;
    right: 5%;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.nav__icon {
    position: absolute;
    top: 3%;
    right: 5%;
}

.nav__line {
    height: 2px;
    width: 20px;
    background-color: white;
    display: block;
    margin: 5px 0;
}

.nav__search {
    width: 100%;
    display: flex;
    justify-content: center;  
    max-width: 449px;
}

.nav__search input {
    width: min(100%, 380px);
    padding: 15px 0;
    background-color: #212121;
    border: none;
    border-radius: 1000px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: #fff;
}

.nav__search input::placeholder {
    color: #8E8E8E;
    opacity: 1;
}

.nav__logo {
    width: 100%;
}

.home {
    width: 95%;
    margin: 0 auto;
    max-width: 1400px;
}

.explore__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.explore h2, .recent h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 26px;
    color: white;
    margin: 5% 0 3% 5%;
}

.thumbnail {
    width: min(41%, 180px);
    height: auto;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.thumbnail::after {
    display: block;
    content: "";
    padding-top: 100%;
}

.thumbnail img {
    width: 100%;
    position: absolute;
    filter: brightness(0.6);
    border-radius: 5px;
    z-index: -1;
    transition: transform 0.25s ease-in-out;
}

.thumbnail:hover img{ 
    transform: scale(1.1); 
}

.thumbnail h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;

}

.recent {
    padding-bottom: 10%;
    width: 95%;
    margin: 35px auto 0;
}

.recent__wrapper {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
}

/* change scrollbar of recent__wrapper */
.recent__wrapper::-webkit-scrollbar {
    height: 3px;
}

.recent__wrapper::-webkit-scrollbar-thumb {
    background: #8B8B8B;
    width: 110px;
    border-radius: 60px;
}

.recent__thumbnail {
    flex: 1 0 auto;
}

.recent h2 {
    margin: 0 0 3%;
}

/* end of home page */


/* start of anime page */
.anime {
    padding-bottom: 8%;
}

.anime__wrapper {
    width: 95%;
    max-width: 805px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 15px;
}

.anime__thumbnail {
    width: min(46%, 200px);
    border-radius: 25px;
    overflow: hidden;
}

.anime__thumbnail img {
    transition: transform 0.25s ease-in-out;
}

.anime__thumbnail:hover img{ 
    transform: scale(1.1); 
}

.anime__thumbnail:last-child { display: none; }

.anime__thumbnail img {
    border-radius: 25px;
}

.anime__thumbnail h3 {
    font-size: 44px;
}

/* end of anime */

/* start of aot */
.aot__background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.7);
}

.aot__logo {
    margin: 0 auto;
    display: block;
}

.aot__btns {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 5% 0 3%;
}

.aot__btn {
    background-color: rgba(17, 17, 17, 0.8);
    color: white;
    text-decoration: none;
    padding: 3% 8% 4%;
    font-family: 'Barlow', sans-serif;
    font-weight: Bold;
    border-radius: 600px;
}

.aot__content {
    width: 95%;
    margin: 0 auto;
    background-color: rgba(17, 17, 17, 0.8);
    overflow-y: scroll;
    height: 60vh;
    border-radius: 25px;
}

.aot__content p {
    color: white;
    font-family: 'Barlow', sans-serif;
    padding: 0 6%;
    line-height: 130%;
    margin: 7px 0;
    font-size: 15px;
}

.aot__content p:first-child {
    margin-top: 5%;
}

.aot__content p:last-child {
    margin-bottom: 8%;
}

/* end of aot */

/* start of characters */
.characters__wrapper {
    width: 90%;
    margin: -10% auto 0;
    position: relative;
    z-index: 1;
}

.characters__wrapper img {
    display: block;
    width: 85%;
    margin: 0 auto -20%;
}

.characters__bck {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    filter: blur(10px) brightness(0.7);
    z-index: -1;
}

.characters__card {
    color: white;
    background: #111;
    position: relative;
    z-index: -1;
    border-radius: 20px;
    height: 55vh;
    display: flex;
    flex-direction: column;
}

.characters__name {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    padding: 0% 0;
    position: relative;
    text-transform: uppercase;
}

.characters__bio {
    font-family: 'Barlow', sans-serif;
    width: 90%;
    margin: 0 auto;
    line-height: 130%;
    font-size: 15px;
    overflow-y: auto;
    height: 90%;
}

.characters__readMore {
    display: flex;
    width: 90%;
    margin: auto auto 0;
    justify-content: space-between;
    padding: 7% 0;
}

.characters__dots {
    display: flex;
    height: 10px;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.characters__dot {
    width: 10px;
    height: 10px;
    border: solid 1px white;
    border-radius: 50%;
}

.characters__link a {
    text-align: center;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.characters__readMore a {
    color: white;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.dot--active {
    background: white;
    border: solid 1px transparent;
}

.characters__flair {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    width: 25px;
}

.characters__flair--circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    display: block;
}

@media screen and (min-width: 1100px) {
    .header {
        width: min(90%, 1407px);
        flex-direction: row;
        margin: 2% auto;
        justify-content: flex-end;
        gap: 0;
        flex: 1 0 auto;
    }

    .header--noLogo { justify-content: space-between; }

    /* .nav__search input {
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
    } */

    .nav { width: auto; }

    .nav__logo {
        width: 220px;
    }

    .nav__icon { display: none; }

    .nav__close { display: none; }

    .nav__list {
        display: flex;
        flex-direction: row;
        position: initial;
        width: auto;
        height: auto;
        background: transparent;
        gap: 30px;
    }

    .nav__item a { font-size: 18px; }

    .recent { 
        width: 86%; 
        margin: 5% auto;
        padding-bottom: 0;
    }

    .explore h2 { 
        margin-bottom: 2%;
        margin-left: 7%; 
    }

    .recent h2 { margin-bottom: 2%; }

    .anime {
        padding: 0;
        margin: 5% auto;
    }

    .anime__thumbnail:last-child { display: block; }

    .anime__wrapper { 
        gap: 30px; 
    }

    .aot__btns {
        position: absolute;
        flex-direction: column;
        right: 5%;
        text-align: right;
    }

    .aot__btn {
        padding: 0;
        background: transparent;
        position: relative;
        font-size: 18px;
    }

    .aot__btn::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(130%, -50%);
        right: 0;
        width: 40px;
        height: 2px;
        background: rgba(255, 255, 255, 1);
    }

    .aot__logo { 
        width: min(33%, 560px);
        margin: 0 7%;
    }

    .aot__content, .characters__wrapper {
        width: 480px;
        margin: 2% 5% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aot__content, .characters__card {
        max-height: 540px;
    }

    .aot__content {
        height: 65vh;
    }

    .aot__content p:first-child, .aot__content p:last-child { margin: 0; }

    .aot__content p {
        margin: 6px 0 !important;
        font-size: 16px;
        line-height: 140%;
    }

    .characters__wrapper {
        margin: -5% 5% 0;
    }

    .characters__card {
        height: 53vh;
        width: 90%;
        margin: 0 auto;
    }

    .characters__bio {
        width: 85%;
        line-height: 135%;
        font-size: 18px;
    }

    .characters__readMore a {
        font-size: 16px;
    }
}

@media screen and (min-width: 1600px) {
    .aot__content {
        margin: 2% 8% 0;
    }

    .aot__content p {
        font-size: 17px;
        line-height: 150%;
    }

    .characters__wrapper {
        margin-top: -3%;
    }

    .characters__bio {
        width: 90%;
    }
}